//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

//Standard Mode
// $primary: #09909f;
// $secondary: #f7f8f8;
// $success: #28c76f;
// $info: #00cfe8;
// $warning: #ff9004;
// $danger: #ea5455;

//Dark Mode
$shafiq:green !default;

$font-family-sans-serif: "Barlow", Helvetica, Arial, serif !default;
$font-family-monospace: "Barlow", Helvetica, Arial, serif !default;
// $theme-dark-card-bg: #0F2944;
// $theme-dark-input-bg: #0F2944;
// $theme-dark-table-bg: #0F2944;
// $theme-dark-table-row-bg: #0F2944;

$primary-default: #00F0FF;
$secondary-default: #222631;
$success-default: #06F7A1;
$warning-default: #FFB300;
$danger-default: #FF4646;
$caution-default: #B388FF;
$low-default: #FEE8D2;
$info-default: #3D5AFE;
$caution-default: #B388FF;
$low-default: #FEE8D2;



$theme-colors: () !default;
$theme-colors: map-merge((
    'primary': $primary-default,
    'primary100': $primary-default,
    'primary50': #B2EBF2,
    'primary200': #5CD9EF,
    'primary300': #26C6DA,
    'primary400': #00ACC1,
    'primary500': #00838F,
    'primary600': #006064,
    
    'secondary': $secondary-default,
    'secondary50': #B0BEC5,
    'secondary100': #78909C,
    'secondary200': #607D8B,
    'secondary300': #455A64,
    'secondary400': #37474F,
    'secondary500': #263238,
    'secondary600': $secondary-default,
    
    'success': $success-default,
    'success100': #66D6A6,
    'success200': $success-default,
    'success300': #4EFF0E,
    
    'info': $info-default,
    'info100': #536DFE,
    'info300': #3C4EF2,
    'info200': $info-default,
    
    'warning': $warning-default,
    'warning100': #FFC107,
    'warning200': $warning-default,
    'warning300': #FFA346,
    
    'danger': $danger-default,
    'danger100': #FF5252,
    'danger200': #FF1744,
    'danger300': $danger-default,
    
    'caution': $caution-default,
    'caution100': #B39DDB,
    'caution200': $caution-default,
    'caution300': #9646EF,
    
    'low':  $low-default,
    'low100':  #C8C8C8,
    'low200':  $low-default,
    'low300':  #FF9E80,
    
    'gray':  #9E9E9E,
    'black':  #000000,
    'white':  #FFFFFF,
),
    $theme-colors);
