<template>
  <img alt="Vue logo" src="./assets/logo.png">
  <div>
    <button @click="getToast">
      Toast
    </button>
  </div>
</template>

<script>
  import { useToast } from "vue-toastification";
// Import the CSS or use your own!
// import "vue-toastification/dist/index.css";

export default {

  mounted(){
    // const toast = useToast()
    //     toast("I'm a toast!");
  },
    methods: {
      getToast(){
        console.log('ehehehe')
        const toast = useToast()
        toast("I'm a toast!");
      },
    },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
